*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
header{
    width: 100%;
    height: 130px;
}
.main__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    height: 130px;
}
nav{
    display: flex;
}
nav li {
    list-style: none;
    display: inline-block;
}

nav li a {
    color: #070120;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    text-transform: capitalize;
    padding: 55px 15px;
    cursor: pointer;
}

nav li a:hover{
    color: #f55f8d;
}

nav ul {
    margin: 0 20px 0 0;
}
