.news {
    background: #333;
}

.container {
    margin: 0 auto;
}

.container-news {
    height: auto;
    background: #fafafa;
    width: 60%;
}

.container-news img {
    width: 100%;
}

.header {
    text-align: center;
}

.header-news {
    text-align: center;
    color: red;
    padding-top: 15px;
}

.slogan {
    background: red;
    color: white;
    font-size: 28px;
    text-align: center;
}

.menu {
    text-align: center;
    font-size: 24px;
    padding: 5px;
}

.content-news {
    color: #333;
    padding: 5px;
    font-weight: 700;
    padding: 10px;
}

.content-block-1 {
    background-color: brown;
    color: white;
    padding: 10px;
    font-weight: 700;
}

.content-block-1 span {
    color: black;
    font-style: italic;
}

.content-block-1 h1 {
    color: white;
    text-align: center;
}

.content-block-1 p {
    font-size: 22px;
    text-align: justify;
}

.content-block-2 {
    background-color: brown;
    color: white;
    padding: 10px;
    font-weight: 700;
    margin-top: 15px;
}

.content-block-2 h1 {
    color: white;
    text-align: center;
}

.content-block-2 li {
    font-size: 24px;
    font-weight: 700;
}

.content-block-3 {
    text-align: center;
}

.content-block-3 table {
    width: 60%;
    height: 1000px;
    margin: 0 auto;
}

.content-block-3 table,
th,
td {
    border: 1px solid black;
}

#greentea {
    background: url(./img/greentea.jpg);
    text-align: right;
}

#blacktea {
    background: url(./img/blacktea.jpg);
    text-align: center;
}

#olongtea {
    background: url(./img/olongtea.jpg);
    text-align: left;
}

#fruittea {
    background: url(./img/fruit.jpg);
    text-align: center;
}

#milktea {
    background: url(./img/milktea.png);
    text-align: center;
}