* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #262626;
  margin: 0 auto;
}

/* FONT SIZE */
h1 {
  font-size: 4.375rem;
  font-weight: 900;
  line-height: 1.1;
}

h2 {
  font-size: 2.5rem;
  font-weight: 900;
}

h3 {
  font-size: 1.75rem;
  font-weight: 700;
}
h4 {
  font-size: 1.375rem;
  font-weight: 700;
}
h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

.btn {
  padding: 15px 25px;
  display: inline-block;
  border: none;
  border-radius: 30px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.title h4 {
  color: #f55f8d;
}
.backToTop {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  color: #fff;
  background-color: #f55f8d;
  font-size: 2rem;
  position: fixed;
  text-align: center;
  line-height: 50px;
  display: block;
  right: 15px;
  bottom: 15px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 4px 24px -10px #f55f8d;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.container {
  width: 100%;
  margin: auto;
}
.bg {
  background-image: url(../img/pic2.png);
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  height: auto;
  position: relative;
  overflow: hidden;
}
.bg2 {
  background-image: url(../img/bg2.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: auto;
  position: relative;
  overflow: hidden;
}
.bg3 {
  background-image: url(../img/bg15.png);
  background-size: contain;
  background-position: center right;
  background-repeat: no-repeat;
  height: auto;
  position: relative;
  overflow: hidden;
}
.bg4 {
  background: #fffbf7;
  background-image: url(../img/bg14.png);
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  position: relative;
  overflow: hidden;
}
.bg5 {
  background-image: url(../img/bg16.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: auto;
  position: relative;
  overflow: hidden;
}
.bg6 {
  background-image: url(../img/bg17.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  height: auto;
  position: relative;
  overflow: hidden;
}
.bg7 {
  background-image: url(../img/bg16.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: auto;
  position: relative;
  overflow: hidden;
}
.bg8 {
  background-image: url(../img/bg17.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  height: auto;
  position: relative;
  overflow: hidden;
}
.bg9 {
  background-image: url(../img/bg16.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  height: auto;
  position: relative;
  overflow: hidden;
}
/* HEADER */
.main__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 130px;
}
.header__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__right li {
  display: inline-block;
  list-style: none;
  margin: 0 15px;
}

.header__right a {
  text-decoration: none;
  color: #070120;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.35;
  text-transform: capitalize;
  transition: all 0.5s;
}

.header__right a:hover {
  color: #f55f8d;
}

.header__right button {
  margin-left: 15px;
  background: linear-gradient(to left, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  transition: all 0.5s;
  padding: 20px 35px;
}

/* CAROUSEL */
.carousel {
  max-width: 1200px;
  padding-top: 50px;
  margin: 0 auto;
}

.carousel__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

/* CAROUSEL LEFT */
.cc__left {
  width: 60%;
}
.cc__left h4 {
  color: #f55f8d;
}
.cc__left p:first-of-type {
  font-size: 1.375rem;
  color: #636363;
  margin: 10px 0;
}
.cc__left li {
  list-style: none;
  margin: 15px 0;
  font-size: 1.375rem;
  color: #636363;
}

.cc__left li i {
  color: #fff;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: linear-gradient(to left, #f55f8d 0, #f8ae56 1%, #f55f8d 100%);
  text-align: center;
  line-height: 35px;
  margin-right: 10px;
}

.cc__left button {
  font-weight: 400;
  padding: 20px 35px;
  background: linear-gradient(to left, #f55f8d 0, #f8ae56 20%, #f55f8d 100%);
  transition: all 0.5s;
  cursor: pointer;
}

.cc__left button:hover {
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 20%, #f55f8d 100%);
}

/* CAROUSELL RIGHT */
.cc__right {
  position: relative;
  width: 40%;
}

.cc__banner {
  z-index: 1;
}

.cc__right__overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  left: -40px;
  animation: moveLeftRight 4s infinite;
}

/* USP */
.usp {
  text-align: center;
  padding: 50px 0;
  max-width: 1200px;
  margin: auto;
}

.usp__content {
  width: 100%;
  margin: 50px auto;
  display: flex;
  justify-content: space-evenly;
}

.usp__item {
  padding: 30px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 0 15px;
}

.usp__item h6:first-of-type,
.ac__right h6:first-of-type {
  margin-top: 15px;
  color: #636363;
  font-weight: 400;
}

.top__usp__item img {
  background-size: cover;
  width: 80%;
}

/* ABOUT US */
.aboutUS {
  width: 1200px;
  margin: 50px auto;
}
.aboutUS__content {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.ac__left {
  margin-left: -40%;
}
.ac__left img {
  border-radius: 0 100px 100px 0;
}

.ac__right {
  margin-left: 100px;
}

.ac__right ul li {
  list-style: none;
  color: #636363;
  font-weight: 400;
  font-size: 1rem;
  position: relative;
  padding: 8px 5px 8px 35px;
}

.ac__right ul li::before {
  content: "\f00c";
  font-family: "FontAwesome";
  border: 2px solid #f55f8d;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  font-size: 12px;
  text-align: center;
  line-height: 26px;
  color: #f55f8d;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

/* NUMBER */
.number {
  margin: 100px auto;
  max-width: 1200px;
}
.number__contents {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

.number__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.number__icon {
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 100%);
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.number__icon i {
  text-align: center;
  font-size: 36px;
  color: #fff;
}

/* FEATURES */
.feature {
  max-width: 1200px;
  margin: 50px auto;
}
.feature__content {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.feature__left {
  width: 50%;
  padding: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.feature__right {
  width: 50%;
  padding: 30px;
  animation: moveLeftRight 4s infinite;
}
.feature__right img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.feature__item {
  background: #fff;
  padding: 25px;
  box-shadow: 0 0px 60px 0px rgb(0 0 0 / 10%);
  border-radius: 10px;
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  width: 90%;
  transition: all .5s;
  border: 1 solid #fff;
  cursor: pointer;
}

.feature__item:hover{
  border: 2px solid #f55f8d;
  box-shadow: 0 0px 60px 0px rgb(0 0 0 / 20%);
}

.feature__icon {
  font-size: 70px;
  margin-right: 20px;
  font-weight: thin;
  color: #f55f8d;
}
.feature__text p {
  color: #888;
}

#feature__different {
  margin-left: 50px;
}

/* PORTFOLIO */

.portfolio {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}

.portfolio__content {
  width: 100%;
  margin-top: 40px;
}

.port__top,
.port__bottom {
  display: flex;
  justify-content: space-between;
  margin: 30px 0 0 0;
}

.port__top__left,
.port__bot__left {
  width: 60%;
  padding: 0 15px 0 15px;
}

.port__top__left img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}
.port__top__right,
.port__bot__right {
  width: 40%;
  padding: 0 15px 0 15px;
}

.port__top__right img,
.port__bot__left img,
.port__bot__right img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.port__bot__top {
  display: flex;
  justify-content: space-between;
  margin: 0 0 30px 0;
}

.port__bot__bot {
  display: flex;
}

/* PLAN */

.plan {
  max-width: 1200px;
  padding: 50px 0;
  margin: 0 auto;
}

.plan__content {
  width: 100%;
  margin-top: 50px;
}

.plan__option {
  display: flex;
  justify-content: space-evenly;
}

.plan__item__wrap {
  background-color: #fff;
  border-radius: 10px;
  width: 30%;
  padding: 35px 60px;
  box-shadow: 1px 0 50px rgb(0 0 0 / 10%);
  transition: all .5s;
  border: 3px solid transparent;
  border-image: 100 round;
  cursor: pointer;
}

.plan__item__wrap:hover{
  border-image: url(../img/br.png) 1 round;
}

.plan__item {
  text-align: center;
}

.price__item {
  color: #f8ae56;
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 25px;
}

.price__item p::after {
  content: "/Month";
  font-size: 18px;
  color: #262626;
  font-weight: 600;
}

.feature__price__item {
  border-top: 1px solid #6363633f;
}

.feature__price__item ul {
  padding: 15px 0 0 0;
}

.feature__price__item ul li {
  list-style: none;
  text-align: left;
  padding: 5px 0 5px 40px;
  position: relative;
  font-size: 18px;
}

.feature__price__item ul li::after {
  content: "\f00c";
  font-family: "FontAwesome";
  width: 26px;
  height: 26px;
  line-height: 26px;
  position: absolute;
  color: #f55f8c;
  background-color: #f55f8c2d;
  left: 0;
  top: 6px;
  border-radius: 50%;
  text-align: center;
  font-size: 12px;
}

.feature__price__footer {
  margin: 35px 0 10px 0;
  display: block;
}

.feature__price__footer .btn__price {
  color: #fff;
  padding: 20px 40px;
  background: linear-gradient(to right, #f55f8d 30%, #f8ae56 100%);
  box-shadow: 1px 0 50px rgb(0 0 0 / 10%);
  border-radius: 45px;
  text-decoration: none;
}

/* TESTIMONIAL */
.testimonial {
  max-width: 1200px;
  margin: auto;
  padding: 100px 0;
}
.test__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slider-nav img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 20px;
  cursor: pointer;
  border: none;
  transition: all .5s;
  opacity: .8;
}

.slider-nav img:hover{
  border: 3px solid #f55f8c;
  opacity: 1;
}

.slider-for {
  margin-top: 30px;
  position: relative;
  width: 770px;
  box-shadow: 0 20px 50px 0 rgb(0 0 0 / 10%);
  border-radius: 10px;
  background-color: #fff;
  border-radius: 10px;
  color: #333;
  cursor: grab;
}

.test__comment {
  text-align: center;
  padding: 30px;
}
.test__comment h3{
  font-style: italic;
}

.test__comment span{
  margin-bottom: 20px;
  font-style: italic;
  color: #f55f8c;
}


.test__comment p{
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  color: #666;
}

/* BLOG */
.blog {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
}
.blog__contents {
  width: 100%;
  padding-top: 50px;
}

.blog__item {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 10px;
  background-color: rgba(245, 95, 140, 0.1);
  margin: 0 20px;
}

.blog__top {
  position: relative;
}
.blog__top img {
  width: 100%;
  border-radius: 10px;
}
.blog__top p {
  position: absolute;
  padding: 5px 20px;
  color: #fff;
  background: linear-gradient(to right, #f55f8d 30%, #f8ae56 100%);
  border-radius: 5px;
  left: 10px;
  bottom: -15px;
}

.blog__mid {
  padding: 15px 15px 10px 15px;
}

.blog__mid h4 {
  color: #222;
  line-height: 1.4;
  font-weight: 700;
  padding: 10px;
}

.blog__mid p {
  color: #666;
}

.blog__bottom {
  display: flex;
  justify-content: flex-start;
  border-top: 1px solid rgba(153, 153, 153, 0.25);
  padding: 20px 15px;
  align-items: center;
  font-weight: 400;
  color: #666;
}

.blog__bottom .author {
  padding-right: 15px;
}

/* LOGO CAROUSEL */
.logo__carousel {
  width: 100%;
  padding: 50px;
}

.logo__car__content {
  max-width: 1200px;
  margin: 0 auto;
}

.logo1 {
  display: flex;
  align-items: center;
  padding: 20px 30px;
  transition: 1s all;
  cursor: pointer;
  height: 100px;
  border-radius: 8px;
  background: #fff;
}

.logo1 img {
  margin: auto;
  width: auto;
}

.logo1:hover {
  background: linear-gradient(to right, #f55f8d 30%, #f8ae56 100%);
}

/* FOOTER */
footer {
  background-color: #0e1b1f;
  background-image: url(../img/bg4.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  position: relative;
}

footer::before {
  content: "";
  background-image: url(../img/pattern2.png);
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.footer__wrap {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  margin: 0 auto;
}

.subscribe {
  min-width: 1199px;
  background-color: #fff;
  padding: 50px 60px;
  box-shadow: 0 0px 30px 0 rgb(0 0 0 / 10%);
  border-radius: 15px;
  background-image: url(../img/pattern3.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}

.sub__content {
  display: flex;
  justify-content: space-between;
  margin-left: -15px;
  margin-right: -15px;
  align-items: center;
}

.form__email {
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  border-radius: 4px;
  transition: all 1s;
  display: flex;
}

.left__sc p {
  font-size: 28px;
  font-weight: 700;
  color: #262626;
}

.right__sc input {
  padding: 10px 20px;
  border-radius: 4px 0 0 4px;
  border: 1px solid #fff;
  font-size: 15px;
  background-color: #fff;
  color: #888;
  height: 60px;
  transition: all 0.3s ease-in-out;
  width: 330px;
}

.submit__email button {
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  height: 100%;
  width: 90px;
  border: none;
  background: linear-gradient(to right, #f55f8d 30%, #f8ae56 100%);
  color: #fff;
}

.footer__content {
  display: flex;
  color: #fff;
  justify-content: space-between;
  width: 100%;
  padding: 70px 0;
}

.footer__contact i {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  text-align: center;
  border-radius: 50%;
  background: linear-gradient(to right, #f55f8d 30%, #f8ae56 100%);
  line-height: 40px;
}

.footer__contact span {
  color: #8c8c8c;
}

.widget a::before {
  content: "> ";
}

.widget li {
  list-style: none;
  padding: 10px 0;
}

.footer__logo {
  margin-bottom: 30px;
}

.footer__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 30px;
  padding-bottom: 10px;
  position: relative;
}

.footer__title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 20px;
  background: linear-gradient(to right, #f55f8d 30%, #f8ae56 100%);
  width: 15px;
}

.footer__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 25px;
  height: 4px;
  border-radius: 20px;
  background: linear-gradient(to right, #f55f8d 30%, #f8ae56 100%);
  width: 45px;
}

.footer__contact ul li {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 8px 0;
}

.footer__link a {
  text-decoration: none;
  color: #8c8c8c;
  transition: all 0.8s;
}

.footer__link a:hover {
  color: #fff;
}

.footer__copyright {
  background-color: #1f343b;
  padding: 10px 0;
  width: 100%;
}
.copyright__content {
  max-width: 1200px;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__content a {
  color: #f55f8d;
  text-decoration: none;
}

.cr__right {
  display: flex;
  justify-content: space-evenly;
}

.cr__right i {
  width: 32px;
  height: 32px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 32px;
  margin-right: 15px;
  transition: all 0.8s;
  cursor: pointer;
}

.cr__right i:hover {
  background: linear-gradient(to right, #f55f8d 51%, #f8ae56 100%);
}

/* ANIMATION */
@keyframes moveLeftRight {
  0% {
    transform: rotate(1deg) translate(2px, 2px);
  }
  50% {
    transform: rotate(-1deg) translate(-2px, -2px);
  }
  100% {
    transform: rotate(1deg) translate(2px, 2px);
  }
}
