/* Global */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8e1db;
}

.clear {
    clear: both;
}

/* Header */
.header {
    margin-left: 10px;
}

.header ul {
    list-style: none;
}

.header ul li {
    display: inline;
    margin-right: 10px;
}

.header a {
    color: black;
    text-decoration: none;
}

.header a:active {
    color: black;
}

/* Carousel */
.carousel {
    height: 550px;
    background-image: url(../img/BG.png);
    background-position: center;
    background-size: cover;
    border-radius: 0 0 40px 40px;
    position: relative;
}

.carousel__content {
    position: absolute;
    left: 0;
    bottom: -70px;
}

.carousel__mid {
    background-color: white;
    padding: 0 10px;
    border-radius: 12px;
}

.carousel__item {
    width: 25%;
    float: left;
    text-align: center;
    padding: 0 10px;
}

/* Activities */

.activities__title{
    text-align: center;
    padding-top: 120px;
}

.activities__item {
    width: 25%;
    float: left;
    padding: 10px 10px;
    text-align: center;
}

.activities__mid {
    background-color: white;
    border-radius: 16px;
}

.activities__top {
    padding: 30px 20px 0px;
    position: relative;
}

.activities__top img {
    border-radius: 16px;
}

.activities__top i {
    color: red;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 40px;
    right: 50px;
    padding: 10px;
    border-radius: 12px;
}

.activities__bottom {
    padding: 10px;
}

.activities__bottom h3 {
    padding-bottom: 10px;
}

.activities__bottom p {
    padding-bottom: 10px;
}

.activities__bottom button {
    border-radius: 25px;
    border: none;
    padding: 15px 0;
    background: gray;
    width: 50%;
    cursor: pointer;
}

.activities__content button {
    text-align: center;
}

/* Footer */
.footer {
    height: 250px;
    background-color: #f8e1db;
    border-radius: 30px 30px 0 0;
}