*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    font-family: 'Noto Sans', sans-serif;
    background-image: url(../img/bg.jpg);
    color: #fff;
}

.background{
    width: 100%;
    height: 100%;
}

.items{
    padding: 30px;
    border-radius: 10px;
    background-color: rgba(51, 51, 51, 0.603);
    text-align: center;
    margin: 10px 0;
    border: 1px solid #333;
    max-width: 400px;
}

.items p {
    color: #FFF;
    font-weight: 700;
}

.btn{
    padding: 15px 30px;
    background-color: rgb(108, 206, 173);
    color: #fff;
    font-weight: 700;
    border-radius: 10px;
    transition: all .5s ease;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(47, 158, 121);
    color: #fff;
}

.homework{
    background-color: rgba(201, 201, 201, 0.603);
    max-width: 1200px;
    margin: 30px auto;
    border-radius: 15px;
    height: 650px;
}
.title{
    text-align: center;
    color: #fff;
    padding: 50px;
}

.form-content{
    padding: 50px 30px;
    text-align: center;
}
.form-content form{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.form-content input{
    padding: 10px 5px;
    border-radius: 5px;
}

.form-content a{
    color: #fff ;
    text-decoration: none;
    text-align: center;
    display: none;
    margin-top: 30px;
    transition: all .5s ease;
}

.form-content a:hover{
    color: red;
    text-decoration: underline;
}

.form-content .number{
    width: 20%;
    text-align: left;
}
.form-content button {
    margin: 30px;
    padding: 15px 20px;
    background-color: rgb(32, 84, 255);
    border-radius: 10px;
    border: none;
    color: #fff;
    transition: all .5s;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
}
.form-content button:hover {
    background-color: rgb(11, 59, 216);
}

form #delete{
    background-color: rgb(252, 39, 39);
    transition: all .8s;
}

form #delete:hover{
    background-color: rgb(209, 8, 8);
}
label{
    color:#333;
    font-size: 20px;
}

.curency{
    display: flex;
    flex-direction: column;
}

.curency input{
    margin-top: 10px
}

.curency .radio-button{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.curency .radio-button label{
    padding: 0 15px 0 0;
}

.number2Unit{
    display: flex;
    flex-direction: column;
}