/* GLOBAL */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Oswald', sans-serif;
    ;
}

/* HEADER */
header {
    padding: 20px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #fff;
}

.header__content {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__content p {
    color: white;
    font-size: 2rem;
}

.header__content li {
    list-style: none;
    display: inline;
    margin: 24px;
    text-transform: uppercase;
    padding: 10px;
    transition: .5s all;
}

.header__content li:hover{
    background-color: #e62b43;
}

.header__content a {
    text-decoration: none;
    color: #FFF;
}

/* CAROUSEL */
.carousel{
    height: 650px;
    background-image: url(../img/home_slider.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel__content button{
    margin-top: 20px;
    padding: 10px 25px;
    border: 1px solid #e62b43;
    color: white;
    background-color: #e62b43;
    transition: all .5s;
    cursor: pointer;
}

.carousel__content button:hover{
    background-color: #af2239;
    border: 1px solid #af2239;
}
