/* GLOBAL */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Oswald', sans-serif;
}

/* HEADER */
header {
    padding: 20px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #fff;
}

.header__content {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: ;
    align-items: center;
}

.header__content p {
    color: white;
    font-size: 2rem;
}

.header__content li {
    list-style: none;
    display: inline;
    margin: 24px;
    text-transform: uppercase;
    padding: 10px;
    transition: .5s all;
}

.header__content li:hover {
    background-color: #e62b43;
}

.header__content a {
    text-decoration: none;
    color: #FFF;
}

/* CAROUSEL */
.carousel {
    height: 650px;
    background-image: url(../img/home_slider.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel__content button {
    margin-top: 20px;
    padding: 10px 25px;
    border: 1px solid #e62b43;
    color: white;
    background-color: #e62b43;
    transition: all .5s;
    cursor: pointer;
}

.carousel__content button:hover {
    background-color: #af2239;
    border: 1px solid #af2239;
}

/* SERVICES */

.services {
    padding: 100px 0;
    background-color: grey;
    text-align: center;
}

.services__content {
    width: 70%;
    margin: 50px auto 0;
}

.services__slider .item {
    background: white;
    width: 214px;
    height: 230px;
    margin: 10px;
    color: #888;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}

.services__slider .item::before{
    content: '';
    height: 0;
    background-color: #af2239;
    width: 4px;
    position: absolute;
    top: 0;
    right: 0;
}

.services__slider .item:hover::before{
    height: 100%;
    transition: all .5s;
}

.services__slider .item i{
    font-size: 40px;
    margin-bottom: 10px;
}

.services__slider .slick-dots li button {
    background-color: rgb(211, 211, 211);
    border-radius: 50%;
}

.services__slider .slick-dots li button:before {
    color: rgb(211, 211, 211);
}

.services__slider .slick-dots li:hover button {
    background-color: white;
    border-radius: 50%;
    color: white;
}

.services__slider .slick-dots li:hover button:before {
    color: white;
}

.services__slider .slick-dots li.slick-active button {
    background-color: #af2239;
    border-radius: 50px;
}

.services__slider .slick-dots li.slick-active button:before {
    color: #af2239;
}

/* SHOWCASE */
.showcase {
    padding: 100px 0;
    background-color: rgb(185, 185, 185);
    text-align: center;
}
.showcase__content{
    display: grid;
    grid-template-columns: 33,33;
}