/* GLOBAL */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Oswald', sans-serif;
}

/* HEADER */
header {
    padding: 20px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #fff;
}

.header__content {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.header__content p {
    color: white;
    font-size: 2rem;
}

.header__content li {
    list-style: none;
    display: inline;
    margin: 24px;
    text-transform: uppercase;
    padding: 10px;
    transition: .5s all;
}

.header__content li:hover {
    background-color: #e62b43;
}

.header__content a {
    text-decoration: none;
    color: #FFF;
}

/* CAROUSEL */
.carousel {
    height: 650px;
    background-image: url(../img/home_slider.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel__content button {
    margin-top: 20px;
    padding: 10px 25px;
    border: 1px solid #e62b43;
    color: white;
    background-color: #e62b43;
    transition: all .5s;
    cursor: pointer;
}

.carousel__content button:hover {
    background-color: #af2239;
    border: 1px solid #af2239;
}

/* SERVICES */

.services {
    padding: 100px 0;
    background-color: grey;
    text-align: center;
}

.services__content {
    width: 70%;
    margin: 50px auto 0;
}

.services__slider .item {
    background: white;
    width: 214px;
    height: 230px;
    margin: 10px;
    color: #888;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}

.services__slider .item::before {
    content: '';
    height: 0;
    background-color: #af2239;
    width: 4px;
    position: absolute;
    top: 0;
    right: 0;
}

.services__slider .item:hover::before {
    height: 100%;
    transition: all .5s;
}

.services__slider .item i {
    font-size: 40px;
    margin-bottom: 10px;
}

.services__slider .slick-dots li button {
    background-color: rgb(211, 211, 211);
    border-radius: 50%;
}

.services__slider .slick-dots li button:before {
    color: rgb(211, 211, 211);
}

.services__slider .slick-dots li:hover button {
    background-color: white;
    border-radius: 50%;
    color: white;
}

.services__slider .slick-dots li:hover button:before {
    color: white;
}

.services__slider .slick-dots li.slick-active button {
    background-color: #af2239;
    border-radius: 50px;
}

.services__slider .slick-dots li.slick-active button:before {
    color: #af2239;
}

/* SHOWCASE */
.showcase {
    padding: 100px 0;
    background-color: rgb(185, 185, 185);
    text-align: center;
}

.showcase__content {
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.showcase__item {
    height: 408px;
    position: relative;
    overflow: hidden;
}

.showcase__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%) contrast(0.5);
}

.showcase__overlay {
    background-color: rgba(230, 43, 74, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .5s;
}

.showcase__item:hover .showcase__overlay {
    opacity: 1;
}

.showcase__icon {
    display: flex;
    flex-direction: column;
    transform: translateY(50px);
    transition: all .5s;
}

.showcase__item:hover .showcase__icon {
    transform: translateY(0);
}

/* .showcase__icon i {
    background-color: #fff;
    padding: 10px;
    color: #333;
    margin-top: 10px;
} */
/* Old CSS */

.showcase__text {
    position: absolute;
    left: 30px;
    bottom: 30px;
    color: #fff;
    display: block;
    text-align: left;
    font-size: 18px;
    transform: translateY(50px);
    transition: all .5s;
}

.showcase__item:hover .showcase__text {
    transform: translateY(0);
}

/* BLOG */

.blog__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.blog__mvp {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.blog__mvp__2 {
    grid-column: 3 / 5;
    grid-row: 3 / 5;
}

.blog__item {
    overflow: hidden;
}

.blog__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: all .5s;
}

.blog__item:hover img {
    transform: scale(1.2);
}

/* NUMBER */
.number{
    background-color: #111;
    padding: 100px 0;
}
.number__content{
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-evenly;
}
.number__item{
    color: #fff;
    font-size: 24px;
    text-align: center;
}

.number__item p:first-child{
    color:fff;
    font-size: 4rem;
}

.number__item p:last-child{
    color:rgb(185, 185, 185);
    text-transform: uppercase;
}